body {
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff7a7a, #7a7aff);
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

ul li {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

ul li:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
